@{
    ViewData["Title"] = "Home Page";
}
@model ECommerce.Models.CustomerIndexModels
@using ECommerce.Models
<form method="post" asp-controller="Customer" asp-action="Create">
    <div class="form-group">
        <span asp-validation-for="NewCustomer.Name"></span>
        <label asp-for="NewCustomer.Name"></label>
        <input class="form-control" asp-for="NewCustomer.Name">
    </div>   
    <input type="submit" value="Add">
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Created Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var c in Model.Customers)
        {
            <tr>
                <td>@c.name</td>
                <td>@c.created_at.ToString("D")</td>
                <td><a href="/customer/delete/@c.customer_id"><button>Remove</button></a></td>
            </tr>
        }
    </tbody>
</table>